// fonts
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
$font_one: 'Nothing You Could Do', cursive;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$font_two: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
$font_three: 'Playfair Display', serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font_four: 'Poppins', sans-serif;


// colors
$white: #ffffff;
$black: #000000;
$blue: #058fd9;
$blue-bright: #06a8ff;
$light-grey: #949494;
$light-light-grey: rgb(217, 217, 217);
$grey-blue-strong: #1c2b38;
$grey-blue-bright: #263d50;
